[submodule "plugin/x-frame-bypass"]
	path = plugin/x-frame-bypass
	url = git@github.com:niutech/x-frame-bypass.git
[submodule "plugin/Chart.js"]
	path = plugin/Chart.js
	url = git@github.com:chartjs/Chart.js.git
